body{
	background:linear-gradient(#7ccce8, white, #7ccce8);
	width:100%;
	min-height:0 !important;
}
#MainSplash{
	position:fixed;
	top:50%;
	width:100%;
	text-align:center;
	transform:translateY(-50%);
	color:#F5D76E;
}
#MainSplash h1{
	font-size:1000%;
	font-family:"Aldrich", sans-serif;
	margin-bottom:0;
}
h2{
	font-size:300%;
}

.BGCover{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

#Drone{
	width:20vw;
	height:10vw;
	
	position:fixed;
	z-index:100;
	
	transform:rotateY(180deg);
	background-image:url("/img/SaroshDraws/Side_Drone.svg");
	
	
	bottom:12vh;left:40vw;
	
	background-size:200% 200%;
}

a{
	color:black;
}
a:visited{
	color:black;
}
a:hover{
	text-decoration:none;
}


p{
	
	z-index:9999;
}


#BG1{
	width:150%;
	height:100vh;
	position:fixed;
	z-index:-1;
	
	background-image:url("/img/SaroshDraws/iehack/clouds.png");
}



#Head2{
	position:fixed;
	left:10%;
	bottom:20%;
}

#Text2{
	position:fixed;
	bottom:20%;
	right:10vw;
	width:40vw;
	text-align:right;
	min-height:initial;
}
#Text2 p{
	width:calc(100% - 32px);
}

#Pic2{
	background-image:url('https://upload.wikimedia.org/wikipedia/en/8/8c/Nuvola_apps_package.svg.png');
	width:8vw;
	height:8vw;
	position:fixed;
}



#Head3{
	position:fixed;
	left:10%;
	top:25%;
}

#Text3{
	position:fixed;
	top:50%;
	right:2vw;
	width:40vw;
	text-align:right;
	z-index:9;
	min-height:initial;
}
#Text3 p{
	width:calc(100% - 32px);
}



#Head4{
	position:fixed;
	left:10%;
	bottom:50%;
	max-height:10vh;
}

#Text4{
	position:fixed;
	top:50%;
	left:10vw;
	width:40vw;
	text-align:left;
}
#Pic4{
	background-image:url("https://pixabay.com/static/uploads/photo/2012/04/10/17/24/airplane-26560_960_720.png");
	height:100vw;
	width:200vw;
	position:fixed;
	background-position: center;
	background-size:contain;
	transform:rotateY(180deg);
	bottom:50vh;
	left:0;
}







#Sec5{
	position:fixed;
	top:50%;
	/*height:50%;*/
	min-height:initial;
	right:10%;
	/*text-align:right;
	
	background:rgba(236, 240, 241,0.6);
	padding: 0 5vw;
	
	display: flex;
  align-items: center;
  justify-content: flex-end;*/
}

#BG5{
	min-width:120vw;
	right:0;
	min-height:calc(100vh + 1%);
	bottom:-1%;
	position:fixed;
	z-index:-1;
	
	background-image:url("/img/SaroshDraws/iehack/Schoolno_kids.png");
	background-position: 100% 100%;
}










#bgScrollGrad{
	background:linear-gradient(#7ccce8, white, #7ccce8);
	z-index:-999999;
	position:absolute;
}