body{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a8/2_Parrot_AR.Drone_2.0_in_flight.jpg");
	background-attachment:fixed;
	background-size:cover;
	background-position: center center;
	
}

#BigTitle{
    transform:translateY(-50%);
	font-size:300%;
	width:80vw;
	margin: 0 auto;
	margin-top:40vh;
	text-align:center;
	margin-bottom:30vh;
	min-height:initial;
}

p{
	font-size:125%;
}


.SideChart{
	float:right;
	/*background:rgba(255,255,255,0.4);*
	padding:20px;*/
	padding-left:2vw;
	max-width:100%;
}
.SideChart canvas{
	max-width:100%;
}

section{
	width:80vw !important;
	margin: 2vh auto;
	padding: 5vh;
	min-height:500px;
	display:block !important;
}