#set-height {
  display: block;
  height: 10000px;
}
#v1 {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform:translate(-50%,-50%);
}

.Card{
	position:fixed;
	padding:1vw;
	opacity:0;
	z-index:99;
	background: rgba(236, 240, 241,0.7);
}

#Card1{
	bottom:10%;
	left:50%;
	transform:translateX(-50%);
	padding: 2vw;
	background:none;
	color:white;
}
#Card2{
	bottom:30%;
	right:30%;
}
#Card3{
	right:20%;
	bottom: 40%;
}
#Card4{
	left:10%;
	top:40%;
}
#Card5{
	right:10%;
	bottom:10%;
}
#Card6{
	top:20%;
	left:50%;
}











body {
    overflow: hidden;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:999999; /* makes sure it stays on top */
	
		
	display: flex;
	align-items: center;
	justify-content: center;

}

#status {
    width:200px;
	
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    /*background-image:url("http://cleantech4us.github.io/JSDep/preload/img/status.gif"); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
    
    text-align:center;

}